<!-- <div class="container-border">
    <mat-card-header>
        <mat-card-title>Gestión de roles</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <u class="textGuide">
            En esta subsección usted podrá vincular o desvincular roles a los usuarios del sistema SISIfO.
        </u>
    </mat-card-content>
    <div>
        <div class="menu">
            <div class="left-menu container-border">
                <mat-card-header>
                    <mat-card-title>Roles <b>{{usuario.email}}</b></mat-card-title>
                </mat-card-header>
                <mat-card-content class="listaRoles">
                    <div *ngFor="let item of rolesUsuario">
                        <mat-checkbox [checked]="item.selected"
                            (change)="seleccionarRol(item)">{{item.rol}}</mat-checkbox>
                    </div>
                </mat-card-content>
            </div>

            <div class="button-container">
                <button mat-raised-button class="azul-oscuro"
                    (click)="vincularRol()"><mat-icon>arrow_left</mat-icon>Vincular</button>
                <button mat-raised-button color="primary"
                    (click)="desvincularRol()">Desvincular<mat-icon>arrow_right</mat-icon></button>
            </div>

            <div class="right-menu container-border">
                <mat-card-header>
                    <mat-card-title>Roles <b>SISIFO</b> (Roles que se pueden asignar)</mat-card-title>
                </mat-card-header>
                <mat-card-content class="listaRoles">
                    <div *ngFor="let item of rolesSistema">
                        <mat-checkbox [checked]="item.selected"
                            (change)="seleccionarRol(item)">{{item.rol}}</mat-checkbox>
                    </div>
                </mat-card-content>
            </div>
        </div>
    </div>
</div> -->