*:not(mat-icon) {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
  }
  
  .container-border {
      margin: 3% 0% 3% 0%;
      border: 1px solid var(--primary);
      padding: 1%;
      border-radius: 15px;
    }
  
    .textGuide {
      background-color: #ffff;
      border: 1px solid var(--primary);
      border-radius: 15px 15px 15px 15px;
      box-shadow: var(--primary) 3px 4px 0;
      color: #0a0a0a;
      display: inline-block;
      font-size: 1.1em;
      padding: 1%;
      text-decoration: none;
      margin-bottom: 1%;
      width: 77%;
    }
    .menu {
      display: flex;
      flex-wrap: wrap;
    }
  
    .left-menu, .right-menu {
      flex: 1 1 35%;
      margin: 1%;
    }
  
    .listaRoles {
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
      max-height: 96px;
      overflow-y: auto;
      padding: 10px;
    }
  
    .button-container {
      margin: 1%;
      display: flex;
      flex-direction: column;
      justify-content: center !important; /* Alinea los botones verticalmente en el centro */
      align-items: center !important; /* Alinea los botones horizontalmente en el centro */
      gap: 10px;
      .mat-raised-button {
        width: 95%;
      }
    }
  
    .btnGuardar {
      display: flex;
      justify-content: flex-end; /* Alinea el contenido a la derecha */
      height: fit-content; /* Asegura que el contenedor ocupe toda la altura */
    }
  
    .azul-oscuro {
      background-color: #0058a5;
      color: white;
    }
  
    @media screen and (max-width: 1100px) {
      .menu {
        flex-direction: column;
      }
      .button-container {
        flex-direction: row;
      }
      .button-container {
        .mat-raised-button {
          width: 20%;
        }
      }
    }
  