.alertaConfirmarBoton {
  background-color: var(--md-primary-500) !important;
}

.alertaCancelarBoton {
  background-color: #f3ebeb !important;
  color: var(--md-primary-500) !important;
}

.alertaIconoConfirmacion {
  color: #af7978 !important;
  border-color: #af7978 !important;
}

.alertaIconoSuccess {
  color: #9ebf77 !important;
  border-color: #9ebf77 !important;
}

.alertaIconoWarn {
  color: #fbbb3e !important;
  border-color: #fbbb3e !important;
}

.anchoModal {
  width: 650px !important;
}

.barraModal {
  max-height: 250px !important;
  overflow: auto !important;
  text-align: left !important;
}
